/Asteroids/AsteroidsAssignment/AsteroidsAssignment/cmake/
/Asteroids/AsteroidsAssignment/AsteroidsAssignment/cmake-build-debug/
/Asteroids/AsteroidsAssignment/AsteroidsAssignment/CMakeLists.txt


/cmake-build-debug/
/.idea/
/.vs/
/x64/

/Asteroids/AsteroidsAssignment/AsteroidsAssignment/package-lock.json
/Asteroids/AsteroidsAssignment/AsteroidsAssignment/cmake-build-release/

