## Vilhelms local builds and project files
AsteroidsAssignment/cmake/
AsteroidsAssignment/cmake-build-debug/
AsteroidsAssignment/build/
AsteroidsAssignment/CMakeLists.txt
/AsteroidsAssignment/package-lock.json
/AsteroidsAssignment/cmake-build-release/
CMakeLists.txt
*/build/
*/.idea/


## VS FILES
*.sln
*/.vs/
*/x64/
*.vsxproj




